@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap");

* {
  font-family: "Signika Negative", sans-serif;
  --fs-xl: 2rem;
  --fs-l: 1.5rem;
  --fs-xxl: 2.5rem;
  --fs-s: 1rem;
  --fs-m: 1.2rem;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: var(--primary-color);
  width: 100vw;
}

:root {
  --primary-color: #022b3a;
  --secondary-color: #a2de9f;
  --green-color: #53c24d;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --blue-color: rgb(0, 132, 255);
  --lightgreen-color: #00e46e;
  --gradient-color: linear-gradient(
    to right,
    rgb(244, 255, 0),
    rgb(194, 253, 68),
    rgb(148, 248, 105),
    rgb(103, 240, 136),
    rgb(59, 230, 162),
    rgb(46, 227, 163),
    rgb(30, 224, 165),
    rgb(0, 221, 166),
    rgb(0, 225, 145),
    rgb(0, 228, 118),
    rgb(0, 230, 84),
    rgb(0, 231, 30)
  );
}
