.about {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  background-image: linear-gradient(rgba(2, 43, 58, 0.5), rgba(2, 43, 58, 0.8)),
    url("../../assets/EarthBG.gif");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  & > div {
    display: flex;
    justify-content: center;
    & > h1 {
      margin-top: 2.5rem;
      padding: 5px;
      text-align: center;
      font-size: var(--fs-xxl);
      width: auto;
      border-radius: 40%;
      span{
        color: var(--green-color);
      } 
    }
  }
  @media screen and (max-width: 912px) {
    background-size: auto;
    background-position: center center;
    & > div {
      flex-wrap: wrap;
    }
    .about__content {
      align-items: center;
      & > div {
        margin-left: 0;
        width: auto;
        max-width: 500px;
        li {
          font-size:var(--fs-s);
        }
      }
      & > h1 {
        font-size: var(--fs-s);
        max-width: 400px;
      }
    }
  }
}

.about__content {
  margin-top: 1rem;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
   h1 {
    font-size: var(--fs-l);
    text-align: center;
    padding: 8px;
    span{
      color: var(--green-color);
    }
  }
  & > div {
    margin-left: 35%;
    width: 50%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;
      padding: 15px;
      & > div {
        display: flex;
        gap: 5px;
        & > img {
          width: 35px;
          height: 35px;
        }
      }
      li {
        font-size: var(--fs-s);
      }
    }
  }
}
