//fontSizes
$formFontSize: 1.2rem;
$validateFontSize: 0.8rem;
$headingFontSize: 1.5rem;

.signup {
  display: flex;
  justify-content: center;
  margin: 6.5rem 2rem;
  h1 {
    margin: 0 0 10px 0;
    font-size: $headingFontSize;
  }

  @media screen and (max-width: 912px) and (min-width: 350px) {
    .signup__img {
      display: none;
    }
    .signup__form {
      grid-template-columns: 1fr;
      width: auto;
      form {
        width: auto;
      }
    }
  }
  @media screen and (max-width: 349px) {
    .signup__img {
      display: none;
    }
    .signup__form {
      grid-template-columns: 1fr;
      form {
        width: auto;
        margin: 1rem;
        input,
        input:focus {
          width: 230px;
        }
      }
    }
  }
}

.signup__form {
  display: grid;
  grid-template-columns: 40% 1fr;
  background-color: white;
  border-radius: 12px;
  height: auto;
  width: 1000px;
  min-height: 570px;
  transform: scale(0.9);
  h5 {
    margin: 5px 0 0 0;
    color: red;
    text-align: center;
    font-size: $validateFontSize;
    max-width: 323px;
  }
  svg {
    height: 50px;
    width: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 1rem;
    gap: 0.5rem;
    label {
      text-align: center;
    }
    input,
    input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--lightGray-color);
      width: 320px;
      font-size: $formFontSize;
    }

    a {
      text-decoration: none;
      color: var(--black-color);
      font-size: $validateFontSize;
      text-align: center;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.sign__form-userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 1.5rem;
}
.signup__oldUser {
  height: 30px;
  margin-top: 10px;
  a {
    padding-bottom: 0;
    border-bottom: 3px solid var(--black-color);
  }
}
.signup__img {
  img {
    height: 100%;
    width: 100%;
  }
}

.otpVerification {
  gap: 1rem !important;

  input {
    width: auto !important;
    text-align: center;
  }
  :first-child {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
